%table.front{:summary => "For signed-in users"}
  %tr
    %td.main
      %h2
        About Skygodlin
      %p
        How come the Internet gives us so many ways rate a business, but none to rate the individual people who make that business roll?
      %p
        My name is Fred Schoeneman, and I built Skygodlin with two principles in mind.  The first is that relationships are more about people and less about the businesses.  The second is that good customers are more important than bad ones.
      %p
        Skygodlin is about recognizing service people who take pride in their work, and about making sure that service providers know who the good customers are, so they can focus on making those customers happy.
      %h2
        People over businesses
      %p
        Why do you have to review a real estate brokerage, when what you really want to do is rate <a href="/users/1">Sarah Schoeneman</a>, your awesome real estate agent, who just negotiated a terrific deal for your awesome new haunted house?  Why do you have to rate the Supercuts location on Ashby on the corner of College, instead of Curtis Marsh, your fabulous hairdresser, just because there’s no other way to recommend him?  Also, what happens when you rate Sarah and she moves to another brokerage?
      %p
        And how about when fabulous Curtis moves across town to start his own barber shop?  How will you find him?  How will you get that annoying cowlick on the right side of your head to stay down now?
      %p
        How about when you’re on the phone with TMobile or Verizon or Dell or Comcast, and through some fluke a person who seems genuine and caring and like she really wants to help is on the other end?  How do you give a shout out to that person, so that everyone including her soul-crushing supervisor knows she takes pride in her work?
      %p
        Skygodlin lets you send your shout out to that person, as long as she has an email address.  She doesn't even need to have an account with Skygodlin!

      %h2
        Good customers over jerks
      %p
        Also, who is out there writing these reviews?  On Yelp!, for example, there are a ton of post-modernist and sardonic reviews.  But are the people who wrote these reviews really people just like you, or are they sometimes just jerks who only feel good about themselves by slagging someone else’s hard work?

      %p
        What about my friend Pam at the Kona Club in Oakland, who was very negatively reviewed with a single star by a young lady who was offended that the bartender -- a very thoughtful and smart friend of mine named Pam, who has a degree from UC Berkeley -- because the young lady was obnoxiously drunk and Pam wouldn't serve her any more alchohol one evening?

      %p
        Skygodlin allows people like my friend Pam to fight back.
    %td.sidebar.round
      %strong Name
      %br/
      %strong URL

