<!doctype html>
= stylesheet_link_tag 'compiled/simurai'
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title CSS3 toggle-button without JavaScript
      %meta{:content => "simurai", :name => "author"}
        %link{:href => "http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css", :rel => "stylesheet"}
          %link{:href => "compiled/simurai.css", :rel => "stylesheet"}/
  %body#box
    %article
      %h1 :toggle
      %h2 This is a CSS3 toggle-button that works without JavaScript. Nothing special, just a cheap trick.
      %p
        If you ever need it: You stack
        = succeed "s" do
          %strong two <a>
        on top of each other and then disable
        %strong pointer-events
        for the top <a> on
        = succeed "." do
          %strong :target
      %p
        %a{:href => "http://jsfiddle.net/simurai/CMrJG/"} Fiddle yourself
        or
        = succeed "!" do
          %a{:href => "http://twitter.com/share?via=simurai", :target => "_blank"} Tweet this
    %nav.toggle
      %a.bot{:href => "#"}
      %a.top{:href => "#box"}
    #simurai
      %a{:href => "http://simurai.com/", :title => "simurai"}
        %img{:alt => "simurai", :src => "http://files.simurai.com/tumblr/img/simurai_logo.png"}/

